.Front_Page{
    background-color: #C6FCE5;
    margin: 0px;
}
.Front_Page_InnerDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;

}
.Front_Page_SubDiv_left{

    display: flex;
    background-color: rgb(0, 252, 252);
    width: 40.5rem;
    border: none;
    height: 100%;
    min-height: 32.5rem;
}
.margin_front{
    margin-top: 9rem;
}
.Front_Page_SubDiv_right{
    display: flex;
    background-color: rgb(224, 254, 0);
    width: 40.5rem;
    height: 100%;
    min-height: 32.5rem;
}
@media screen and (max-width:1295px) {
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 35.5rem;
        border: none;
        height: 100%;
        min-height: 28.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 35.5rem;
        height: 100%;
        min-height: 28.5rem;
    }
}
@media screen and (max-width:1129px) {
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 30.5rem;
        border: none;
        height: 100%;
        min-height: 24.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 30.5rem;
        height: 100%;
        min-height: 24.5rem;
    }
}
@media screen and (max-width:975px) {
    .margin_front{
        margin-top: 5rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 40rem;
        border: none;
        height: 100%;
        min-height: 32rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 40rem;
        height: 100%;
        min-height: 32rem;
    }
}
@media screen and (max-width:650px) {
    .margin_front{
        margin-top: 4rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 32rem;
        border: none;
        height: 100%;
        min-height: 25.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 32rem;
        height: 100%;
        min-height: 25.5rem;
    }
}
@media screen and (max-width:510px) {
    .margin_front{
        margin-top: 4rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 25rem;
        border: none;
        height: 100%;
        min-height: 20.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 25rem;
        height: 100%;
        min-height: 20.5rem;
    }
}
@media screen and (max-width:415px) {
    .margin_front{
        margin-top: 3rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 23rem;
        border: none;
        height: 100%;
        min-height: 18.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 23rem;
        height: 100%;
        min-height: 18.5rem;
    }
}
@media screen and (max-width:360px) {
    .margin_front{
        margin-top: 3rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 18.5rem;
        border: none;
        height: 100%;
        min-height: 15.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 18.5rem;
        height: 100%;
        min-height: 15.5rem;
    }
}
@media screen and (max-width:300px) {
    .margin_front{
        margin-top: 3rem;
    }
    .Front_Page_SubDiv_left{

        display: flex;
        background-color: rgb(0, 252, 252);
        width: 15.5rem;
        border: none;
        height: 100%;
        min-height: 12.5rem;
    }
    .Front_Page_SubDiv_right{
        display: flex;
        background-color: rgb(224, 254, 0);
        width: 15.5rem;
        height: 100%;
        min-height: 12.5rem;
    }
}